<html>

<head>
  <title>mailer</title>

  <!-- <link href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' rel='stylesheet'> -->

  <script src='https://use.fontawesome.com/a7ccd15346.js'></script>

  <style>
    * {
      margin: 0;
      padding: 0;
    }

    .footer {
      background-color: #e87b65;
      width: 600px;
      height: 24px;
      font-family: 'Gotham';
      color: #2c2d3d;
      font-size: 12.5px;
      font-weight: 300;
      line-height: 29.167px;
      text-align: left;
    }

    .footer p {
      display: inline-block;
      margin-left: 30px;
    }

    .footer span {
      display: inline-block;
      float: right;
      margin-right: 15px;
      margin-top: -3px;
    }

    .footer img {
      height: 14px;
    }

    .icons {
      display: inline-block;
      float: right;
      margin-right: 30px;
    }
  </style>
</head>




<body style="width:600px;">
  <div class=''>
    <img src='http://wohlig.co.in/stylease/img/Layer-1.png' alt='' />
  </div>

  <!-- <div class='sign-up'>
        SIGN UP
    </div> -->
  <div style="width: 600px;font-family: 'Gotham';color: #2c2d3d;font-size: 14.58px;font-weight: 300;line-height: 29.167px;text-align: left;margin-bottom: 30px;">
    <h3>Hello  <%= name%>!</h3>
    <br>
    <p>
      <%= content1%>
    </p>
    <h3>Order Summary</h3>
    <p>
      Order No. : <span><%= orderno%></span><span style="margin-right:15px;">Delivery Date : <%= cartproduct[0].timeFrom %></span><span style="margin-right:15px;">Duration: <%= cartproduct[0].duration %> Days</span>
    </p>

    <table width="600px;" style="border-collapse: collapse;">
      <thead>
        <tr>
          <th style="padding: 8px;border: 1px solid #e87b65;text-transform: uppercase; width:300px; ">ITEMS</th>
          <th style="padding: 8px;border: 1px solid #e87b65;text-transform: uppercase; width:120px">Size</th>
          <th style="padding: 8px;border: 1px solid #e87b65;text-transform: uppercase;width:130px">SUB TOTAL</th>
        </tr>
      </thead>
      <tbody>

        <% cartproduct.forEach(function(cartpro) { %>
          <tr>
            <td style="width:300px; text-align:center;font-weight:600;padding: 7px;text-transform: uppercase;">
              
              <br><span> <%= cartpro.product.name %></span>
            </td>
            <td style="text-align:center;font-weight:600;padding: 7px;text-transform: uppercase;">
              <%= cartpro.size %>
            </td>
            <%if (cartproduct[0].duration == 4) { %>
              <td style="text-align:right;font-weight:600;padding: 7px;text-transform: uppercase;">
                <%= cartpro.product.fourdayrentalamount %>
              </td>
              <% } %>

              <%if (cartproduct[0].duration == 8) { %>
                <td style="text-align:right;font-weight:600;padding: 7px;text-transform: uppercase;">
                  <%= cartpro.product.eightdayrentalamount %>
                </td>
                <% } %>
          </tr>
          <% }); %>
      </tbody>

      <tfoot style="width:600px;background:#FFEFED">
        <tr>
          <td style="font-weight: 600;padding: 7px;text-transform: uppercase; border: 1px solid #e87b65;" COLSPAN=2>Sub Total</td>
          <td style="border: 1px solid #e87b65; text-align:right;font-weight:600;padding: 7px;text-transform: uppercase;" COLSPAN=2>
            <%= subtotal %>
          </td>
        </tr>
        <tr>
          <td style="border: 1px solid #e87b65; font-weight: 600;padding: 7px;text-transform: uppercase;" COLSPAN=2>Service Tax</td>
          <td style="border: 1px solid #e87b65; text-align:right;font-weight:600;padding: 7px;text-transform: uppercase;" COLSPAN=2>
            <%= servicetax %>
          </td>
        </tr>
        <tr>
          <td style="border: 1px solid #e87b65; font-weight: 600;padding: 7px;text-transform: uppercase;" COLSPAN=2>Refundable Deposit</td>
          <td style="border: 1px solid #e87b65; text-align:right;font-weight:600;padding: 7px;text-transform: uppercase;" COLSPAN=2>
            <%= refundabledeposit %>
          </td>
        </tr>
        <tr>
          <td style="border: 1px solid #e87b65;font-weight: 600;padding: 7px;text-transform: uppercase;" COLSPAN=2>TOTAL AMOUNT</td>
          <td style="border: 1px solid #e87b65;text-align:right;font-weight:600;padding: 7px;text-transform: uppercase;" COLSPAN=2>
            <%= total %>
          </td>
        </tr>
      </tfoot>
    </table>

  </div>
  <div class='footer'>
    <p>
      www.TheStylease.com
    </p>
    <div class='icons'>
      <a href=''><img src='http://wohlig.co.in/stylease/img/facebook.png' alt='' /></a>
      <a href=''><img src='http://wohlig.co.in/stylease/img/twitter.png' alt='' /></a>
      <a href=''><img src='http://wohlig.co.in/stylease/img/instagram.png' alt='' /></a>
      <a href=''><img src='http://wohlig.co.in/stylease/img/pinterest.png' alt='' /></a>
    </div>
    <span>
              Follow us on
            </span>
  </div>
</body>

</html>
